@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: Poppins;
  background: #f5f5f5;
  color: #222;
  overflow-x: hidden;
}
header {
  background: #009ee8;
  padding: 30px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}
header h1 {
  margin: 0 0 10px 0;
  font-size: 24px;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}
nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
}
nav a:hover {
  color: #ffdd57;
}
.topic {
  padding: 120px 20px 80px;
  margin-top: 40px;
  background: white;
  border-bottom: 2px solid #ddd;
}
.topic:nth-child(even) {
  background: #ececec;
}
.topic h2 {
  margin-top: 0;
  color: #0a2a6c;
}
footer {
  background: #009ee8;
  padding: 30px;
  color: white;
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  text-align: center;
}
